<div class="bg-[#1D3557] min-h-screen text-white text-center flex flex-col justify-center items-center">
  <h2 class="mb-20 text-2xl">My Contact</h2>
  <div class="grid grid-cols-2 gap-16 w-2/5 mx-auto">
    <a href="mailto:ferdianzh33@gmail.com" class="flex flex-col justify-center items-center h-48 rounded-lg border-4 border-[#E63946]">
      <img src="assets/images/app/icons8-gmail.svg" alt="">
      <h4>Email</h4>
    </a>
    <a href="https://www.linkedin.com/in/mhafizhf/" class="flex flex-col justify-center items-center h-48 rounded-lg border-4 border-[#E63946]">
      <img src="assets/images/app/icons8-linkedin.svg" alt="">
      <h4>LinkedIn</h4>
    </a>
  </div>
</div>