<div id="menu-modal" class="fixed inset-0 bg-[#F1FAEE] flex flex-col justify-center hidden">
  <div class="grid grid-cols-3 py-8 px-6">
    <img src="../../assets/images/app/ferdianzh_logo.svg" alt="" class="h-8">
    <h2 class='text-3xl text-[#457B9D] text-center'></h2>
    <a id="menu-button" class='text-xl text-[#457B9D] text-right cursor-pointer' onclick="handleModal()">Kembali</a>
  </div>
  <div class="text-[#1D3557] mt-auto text-center pt-10">
    <h1 class="text-6xl cursor-pointer mb-10"><b class="text-7xl text-[#E63946]">></b> Portofolio</h1>
    <h1 class="text-6xl cursor-pointer">My Profile</h1>
  </div>
</div>