<div class="w-11/12 flex justify-around mx-auto mt-10">
  <div>
    <img src="assets/images/skills/icons8-database-100.png" alt="">
    <h3 class="mt-6 mb-3 text-2xl">Backend</h3>
    <ul>
      <li>SQL</li>
      <li>PHP (Laravel & CI)</li>
      <li>NodeJS</li>
    </ul>
  </div>
  <div>
    <img src="assets/images/skills/icons8-source-code-96.png" alt="">
    <h3 class="mt-6 mb-3 text-2xl">Frontend</h3>
    <ul>
      <li>HTML & CSS</li>
      <li>Javascript</li>
      <li>React</li>
    </ul>
  </div>
  <div>
    <img src="assets/images/skills/icons8-design-90.png" alt="">
    <h3 class="mt-6 mb-3 text-2xl">Design</h3>
    <ul>
      <li>UI/UX Design</li>
      <li>Graphic Design</li>
    </ul>
  </div>
</div>